<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Amazon Price Tracker</title>
</head>
<body>
    <main>
        <div class = "webpage_title"><h1>Amazon Price Tracker</h1></div>
        <div class = "url_query_bar_div">
            <form action = "/query" method = "POST" id = "url_query_bar">
                <input type = "text" id = "url_query" name = "url_query" placeholder="Paste an Amazon URL..." required><br>
                <button type = "submit">Search</button>
            </form>
        </div>
        {% if bookmarks %}
            {%for bookmark in bookmarks %}
                <div class = "bookmark">
                    {% if bookmark.img_src != "N/A" %}
                        <img src = "{{ bookmark.img_src }}" class = "bookmark_image" alt = "bookmark_product_image">
                    {% endif %}
                    <!-- Price should always exist if the page has loaded correctly -->
                    <p class = "bookmark_price">{{bookmark.price}}</p>
                    <p class = "bookmark_discount">{{bookmark.discount}}</p>
                    <button class = "button unbook_button" id = "unbook_button">Unbook</button><br><br>
            {% endfor %}
            </div>
        {% endif %}
    </main>
</body>
</html>