<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Amazon Price Tracker</title>
</head>
<body>
    <main>
        <div class = "webpage_title"><h1>Amazon Price Tracker</h1></div>
        <div class = "url_query_bar_div">
            <form action = "/query" method = "POST" id = "url_query_bar">
                <input type = "text" id = "url_query" name = "url_query" placeholder="Paste an Amazon URL..." required><br>
                <button type = "submit">Search</button>
            </form>
        </div>
        {% if bookmark_dic %}
            <div class = "bookmark">
                {% if bookmark_dic.img_src != "N/A" %}
                    <img src = "{{ bookmark_dic.img_src }}" class = "bookmark_image" alt = "bookmark_product_image">
                {% endif %}
                <!-- Price should always exist if the page has loaded correctly -->
                 <p class = "bookmark_price">{{bookmark_dic.price}}</p>
                 <p class = "bookmark_discount">{{bookmark_dic.discount}}</p>
            </div>
        {% endif %}
    </main>
</body>
</html>