<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body>
    <div class = "page_title"><h1>Product Page</h1></div>
    <div class = "product_container">
        <div class = "product_image">
            {% if img_src != "N/A" %}
                <img src="{{ img_src }}" alt = "product">
            {% endif %}
            <!-- Add else condition -->
        </div>
        <div class = "product_details">
            <p class = "name_text"><h3>Name: {{ name }}</h3></p>
            <p class = "price_text"><h3>Price: {{ price_whole }}{{ price_fraction }}</h3></p>
            <p class = "discount_text"><h3>Discount: {{ discount }}</h3></p>
            <p class = "ASIN_text"><h3>ASIN: {{ ASIN }}</h3></p>
        </div>
        <button class = "button bookmark_button" id = "bookmark_button" onclick = "bookmark_product()">Book</button>

            <script>
                function bookmark_product(){

                    const details = {
                        ASIN: "{{ ASIN }}",
                        name: "{{ name }}",
                        price_whole: "{{ price_whole }}",
                        price_fraction: "{{ price_fraction }}",
                        discount: "{{ discount }}",
                        img_src: "{{ img_src }}"
                    }

                    fetch("/bookmark", {
                        method: "POST",
                        headers: { "Content-Type" : "application/json"},
                        body: JSON.stringify(details)
                    })
                    .then(response => response.json())
                    .then(data => {
                        const btn = document.getElementById("bookmark_button");
                        if (data.status === "ok")   btn.innerText = "Booked!";
                        else if (data.status === "full") btn.innerText = "Reached Bookmark Limit";
                        else if (data.status === "duplicate") btn.innerText = "Bookmark Already Exists";
                    });
                }
            </script>
        </form>
    </div>
</body>
</html>